.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 75%;
}

.tableframe {
  height: 70vh;
  max-width: 90vw;
  overflow: scroll;
  white-space: nowrap;
  background-color: whitesmoke;
}
/* width */
.tableframe::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.tableframe::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.tableframe::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.tableframe::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.findingsTable {
  min-height: 100vh;
  width: 90vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pieChart {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.header {
  align-self: flex-start;
  padding: 0 10vh;
}

.logobox {
  height: 10vh;
  width: 10vw;
  position: relative;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #F5F5F5;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.tablehead {
  color: #F5F5F5;
  align-self: flex-start;
}
